body {
    font-family: 'Segoe UI', sans-serif;
}

.navbar {
    position: relative;
    z-index: 10;
}

.navbar-brand {
    font-style:italic;
    font-size: 24px;
    color: #07c5ff !important;
    letter-spacing: 1px;
}

.btn-login {
    border-radius: 20px;
    padding: 6px 18px;
    font-weight: 500;
    transition: 0.3s;
}

.btn-login:hover {
    transform: scale(1.05);
}

/*Background */
.hero {
    font-style: italic;
    height: 90vh;
    background: url('background.jpg') no-repeat center center/cover;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(1, 142, 198, 0.299); /* tingkat gelap */
}
.hero .container {
    position: relative;
    z-index: 2;
}

/* Card paket harga */
.card {
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

/* Button Style */
.btn-primary {
    background-color: #0350f4;
    border: none;
}

.btn-primary:hover {
    background-color: #0b9bfa;
}